<div class="container-fluid">
  <h2>Search your Deals!</h2>
    <div class="container-fluid">
      <input  [(ngModel)]="query" type="text" placeholder="Search games..." style="padding-right: 5em ; margin-right: 2em;"/>
      <button (click)="search()" type="submit" class="btn btn-primary bg-info btn-info">Search for Deals</button>
    </div>
<div *ngIf="games.length > 0">
  <div *ngFor="let game of games" class="game-card">
    <img src="{{game.thumb}}" alt="{{ game.external }}" style="height: 12em;"/>
    <div class="card-body">
      <h3 class="card-title">{{ game.external }}</h3>
      <p class="card-text">Cheapest Price: ${{ game.cheapest }}</p>
      <button (click)="addToWishList(game)" class="btn btn-primary">Add to your WishList</button>
    </div>
  </div>
    </div>
</div>
