<div>
    <h1>Game CheapSkate</h1>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/gallery" routerLinkActive="active" ariaCurrentWhenActive="page">Popular Games</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/wishlist" routerLinkActive="active" ariaCurrentWhenActive="page">Your Wishlist</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<div>
    <div class="container">
        <router-outlet></router-outlet>
    </div>    
</div>
